!!!
html
  head
    link(rel="stylesheet", href="/main.css")
    link(rel="shortcut icon", href="/images/favico.ico", type="image/x-icon")
  body
    != partial("_shared/nav")
    != yield
    if current.path[0] == "articles"
      != partial("_shared/disqus")
  footer
